/* -----------------------CSS---------------------------- */
/* -----------------------CSS---------------------------- */
/* -----------------------CSS---------------------------- */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

@font-face {
  font-family: "TT Lakes";
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/TTLakes-Regular.woff2"), url("../assets/fonts/TTLakes-Regular.woff"); 
}
@font-face {
  font-family: "TT Lakes";
  font-weight: 500;
  font-style: normal;
  src: url("../assets/fonts/TTLakes-Medium.woff2"), url("../assets/fonts/TTLakes-Medium.woff");
}
@font-face {
  font-family: "TT Lakes";
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/TTLakes-Bold.woff2"), url("../assets/fonts/TTLakes-Bold.woff");
}
body {
  font-family: "TT Lakes", sans-serif;
  background: #F8F8F8;
  color: #1B1C21;
  font-size: 16px;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  max-width: 1400px;
  /* margin: 0 auto; */
  overflow: hidden;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
  height: 100%;
}
@media (min-width: 768px) {
  .container {
    padding: 0 24px;
  }
}
@media (min-width: 1120px) {
  .container {
    padding: 0 32px;
  }
}

.expand-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: -0.2px;
}
.expand-btn::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url("../assets/images/brands-slider/expand.svg");
  transition: transform .5s ease-in-out;
}

button {
  transition: opacity 0.2s;
}
button:hover {
  opacity: 0.75;
}

.brands-slider__title {
  padding: 16px 0;
  background: linear-gradient(90deg, #F8F8F8 1.39%, #FFF 100%);
}
.brands-slider__title-text {
  font-size: 16px;
  color: #7E7E82;
  line-height: 1.5em;
  letter-spacing: -0.2px;
  text-transform: uppercase;
}
.brands-slider__swiper {
  margin-top: 16px;
  margin-left: 16px;
}
@media (min-width: 768px) {
  .brands-slider__swiper {
    margin: 24px 24px 0px;
  }
}
.brands-slider__swiper .swiper-pagination {
  position: static;
  margin-top: 16px;
  bottom: 0;
}
@media (min-width: 768px) {
  .brands-slider__swiper .swiper-pagination {
    display: none;
  }
}
.brands-slider__swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #DDDDDD;
  opacity: 1;
}
.brands-slider__swiper .swiper-pagination-bullet-active {
  background: #B5B6BC;
}
.brands-slider__swiper::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 72px;
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0) 100%);
  z-index: 2;
}
@media (min-width: 768px) {
  .brands-slider__swiper::before {
    display: none;
  }
}
.brands-slider__swiper-btn {
  padding: 0 16px;
  height: 72px;
  border-radius: 6px;
  border: 1px solid #EAEAEA;
  background: #FFF;
  display: grid;
  grid-template-columns: 158px 40px;
  align-items: center;
  gap: 8px;
  transition: all 0.3s;
  width: 100%;
}
.brands-slider__swiper-btn img {
  max-width: 128px;
  max-height: 50px;
}
@media (min-width: 768px) {
  .brands-slider__swiper-btn {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .brands-slider__swiper-btn:hover {
    opacity: 1;
    transform: scale(1.045);
  }
}
.brands-slider__swiper-btn::after {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background: url("../assets/images/brands-slider/go.svg") no-repeat;
}
@media (min-width: 768px) {
  .brands-slider__swiper-btn::after {
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  .brands-slider__swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px 24px;
  }
}
@media (min-width: 1120px) {
  .brands-slider__swiper-wrapper {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px 32px;
  }
}
.brands-slider__swiper .brands-slider__slide--show {
  display: block;
}
.brands-slider__slide {
  width: auto;
  display: none;
}

.brands-slider__show {
  margin-top: 24px;
  display: none;
}
@media (min-width: 768px) {
  .brands-slider__show {
    display: flex;
  }
}
.shown::before {
  transform: rotate(180deg);
  transition: .5s ease-in-out;
}